body {
  background-color: #fff;
}

.canvas {
  max-width: 1200px;
  margin: 0px auto;
  padding: 60px;
}

/* Navigacijska traka */
.navbar .navbar-brand {
  font-size: 30px;
  letter-spacing: 10px;
}

#leca {
  width: 50px;
  height: 50px
}

.navbar-nav a {
  font-size: 17px;
}

/* Navigacijska traka */
.galerija {
  margin-top: 70px;
}

/*Galerija*/
.galerija-1 {
  margin-top: 50px;
  margin-bottom: -75px;
}

.galerija-2 {
  margin-top: -50px;
}

/*Galerija*/
/*Carousel*/
#vjencanje-carousel{
  margin-top: 120px;
}
/*Carousel*/
/*Footer*/
.footer {
  max-width: 1200px;
  margin: -80px auto;
  padding: 40px;
}

#facebook {
  height: 40px;
  widows: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

#instagram {
  height: 40px;
  width: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.copyright {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

/*Footer*/
/*Video.html*/
#video {
  margin-top: 50px;
  margin-bottom: 30px;
  letter-spacing: 5px;
}

.max-width500 {
  max-width: 500px;
}

.max-width1200 {
  max-width: 1200px;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.col-md-6 {
  padding: 20px;
}

#col12 {
  padding-top: 20px;
}

/*Video.html*/
/*Omeni + kontakt*/
.omeni_kontakt {
  margin-top: 40px;
}

.form-row .col {
  margin-top: 10px;
}

.form-group textarea {
  margin-top: 10px;
}

#submit_forma {
  margin-top: 10px;
}
/*Omeni + kontakt*/

/*Meida query*/
@media (max-width: 575.98px) {
  .canvas{
    padding: 0px;
    margin-top: 20px;
  }

  .navbar .navbar-brand {
    font-size: 20px;
    letter-spacing: 5px;
  }

  #leca {
    width: 30px;
    height: 30px
  }

  #vjencanje-carousel{
    margin-bottom: 120px;
  }

  .footer {
    margin-top: -10px;
  }

}

@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar .navbar-brand {
    font-size: 25px;
    letter-spacing: 5px;
  }

  #leca {
    width: 35px;
    height: 35px
  }

  .footer {
    margin-top: -60px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .footer {
    margin-top: -70px;
  }
}

/*Meida query*/
